body {
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg {
  border: solid 1px #aaa;
}
#checks {
  margin: 10px;
}
.scale {
  fill: gray;
}
svg {
  width: 100%;
  height: 100%;
}
.textLabel {
  font-size: 15px;
  font-weight: lighter;
}

